  <!-- 
        - #FOOTER
      -->
{% load static %}
    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'assets/logo/logo.png' %}" alt="Livro Social logo">
                    </a>

                    <p class="footer-text">
                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium
                        magna conubia
                        at
                        perferendis, pretium, aenean aut ultrices.
                    </p>

                </div>

                <div class="footer-contact">

                    <h4 class="contact-title">Contato</h4>

                    <p class="contact-text">
                        Sinta-se á vontade para entrar em contato!
                    </p>

                    <ul>

                        <li class="contact-item">
                            <ion-icon name="call-outline"></ion-icon>

                            <a href="#" class="contact-link">+55 (xx) xxxxx-xxxx</a>
                        </li>

                        <li class="contact-item">
                            <ion-icon name="mail-outline"></ion-icon>

                            <a href="#" class="contact-link">livro.livro.com</a>
                        </li>

                        <li class="contact-item">
                            <ion-icon name="location-outline"></ion-icon>

                            <address>3146 esquina, Eta Carinae</address>
                        </li>

                    </ul>

                </div>

                <div class="footer-form">

                    <p class="form-text">
                        Assine nossa newsletter para mais atualizações e notícias!!
                    </p>

                    <form action="" class="form-wrapper">
                        <input type="email" name="email" class="input-field" placeholder="Enter Your Email" required>

                        <button type="submit" class="btn btn-secondary">inscreva-se</button>
                    </form>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; 2025 <a href="">RoniWellington</a>. Todos os direitos reservados
                </p>

                <ul class="footer-bottom-list">

                    <li>
                        <a href="#" class="footer-bottom-link">política de Privacidade</a>
                    </li>

                    <li>
                        <a href="#" class="footer-bottom-link">Termos e Condições</a>
                    </li>

                    <li>
                        <a href="#" class="footer-bottom-link">Perguntas frequentes</a>
                    </li>

                </ul>

            </div>
        </div>

    </footer>