{% extends 'livros/base.html' %}
{% load static %}
{% block content %}


<main>
    <article>

        <!-- 
            - #TOUR SEARCH  css na página popular
          -->

        <section class="tour-search tour-search-Top">
            <div class="container">
            </div>
        </section>
        <!-- 
            - #PACKAGE
          -->

        <section class="package" id="package">
            <div class="container">


                <ul class="package-list">


                    <li>
                        <div class="package-card">

                            <figure class="card-banner">
                                <img src="assets/img/popular-1.jpg" alt="Experience The Great Holiday On Beach"
                                    loading="lazy">
                            </figure>

                            <div class="card-content">

                                <h2 class="h3 card-title">Mundo do Livro</h2>

                                <div class="footer-form">

                                    <p class="form-text">
                                        Cadastre-se em nossa plataforma e confira nossos benefícios
                                    </p>

                                    <form action="{% url 'cadastro' %}" method="POST" class="form-wrapper">
                                          {% csrf_token %}
                                            {% for field in form.visible_fields %}
                                            <label for="{{ field.id_for_label }}">{{field.label}}</label>
                                            {{ field }}

                                            {% for error in field.errors %}
                                             <h4>{{error}}</h4>
                                            {% endfor%}  

                                            {% endfor %}



                                        <button type="submit" class="btn btn-primary">Criar sua conta</button>
                                    </form>

                                </div>

                            </div>

                            <div class="card-price">

                                <div class="footer-form">

                                    <p class="form-text">
                                      Já tem uma conta?
                                      Então entre e cadastre seus livros
                                    </p>
                                     <button class="btn btn-secondary"><a href="{% url 'login' %}">Login</a></button>


                                </div>

                            </div>

                        </div>
                    </li>

                </ul>
            </div>
        </section>



    </article>
</main>
<a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
</a>


<script src="assets/js/script.js"></script>
<!-- 
    - ionicon link
  -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}