{% extends 'livros/base.html' %}
{% load static %}
{% block content %}
    <main>
        <article>

            <!-- 
            - #TOUR SEARCH  css na página popular
          -->

            <section class="tour-search tour-search-Top">
                <div class="container">

                    <form action="" class="tour-search-form">

                        <div class="input-wrapper">
                            <label for="destination" class="input-label">Pesquisar Destino</label>

                            <input type="text" name="destination" id="destination" required
                                placeholder="Enter Destination" class="input-field">
                        </div>

                        <div class="input-wrapper">
                            <label for="people" class="input-label">Número de Livros</label>

                            <input type="number" name="people" id="people" required placeholder="No.of People"
                                class="input-field">
                        </div>

                        <div class="input-wrapper">
                            <label for="checkin" class="input-label">Inicio da Leitura</label>

                            <input type="date" name="checkin" id="checkin" required class="input-field">
                        </div>

                        <div class="input-wrapper">
                            <label for="checkout" class="input-label">Termino da Leitura</label>

                            <input type="date" name="checkout" id="checkout" required class="input-field">
                        </div>

                        <button type="submit" class="btn btn-secondary">Perguntar agora</button>

                    </form>

                </div>
            </section>
            <!-- 
            - #PACKAGE
          -->

            <section class="package" id="package">
                <div class="container">
                                

                    <p class="section-subtitle">Minhas Leituras</p>

                    <ul class="package-list">

                        <li>
                            <div class="package-card">

                                <figure class="card-banner">
                                    <img src="{% static 'assets/imagens/galeria/guia dos mochileiros.png' %}" alt="Experience The Great Holiday On Beach"
                                        loading="lazy">
                                </figure>

                                <div class="card-content">

                                    <h3 class="h3 card-title">O Guia do Mochileiro das Galáxias</h3>

                                    <p class="card-text">
                                       O prefácio de "O Guia do Mochileiro das Galáxias" não é um prefácio tradicional, mas sim uma introdução humorística que estabelece o tom da obra. Ele começa com a destruição da Terra e a revelação de que Ford Prefect, amigo de Arthur Dent, é um alienígena. A partir daí, a história segue as desventuras de Arthur enquanto ele viaja pela galáxia, descobrindo a resposta para a "questão fundamental da vida, do universo e de tudo mais". 
                                    </p>

                                   
                                    

                                    <ul class="card-meta-list">

                                        <li class="card-meta-item">
                                            <div class="meta-box">
                                                <ion-icon name="time"></ion-icon>

                                                <p class="text">18:00</p>
                                            </div>
                                        </li>

                                        <li class="card-meta-item">
                                            <div class="meta-box">
                                                <ion-icon name="people"></ion-icon>

                                                <p class="text">Página: 10</p>
                                            </div>
                                        </li>

                                        <li class="card-meta-item">
                                            <div class="meta-box">
                                                <ion-icon name="location"></ion-icon>

                                                <p class="text">Brasil</p>
                                            </div>
                                        </li>

                                    </ul>

                                </div>

                                <div class="card-price">

                                    <div class="wrapper">

                                        <p class="reviews">(25 reviews)</p>

                                        <div class="card-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>

                                    </div>

                                    <p class="price">
                                        R$ 75,00
                                        <span>/ Site Amazon</span>
                                    </p>

                                    <button class="btn btn-secondary">Comprar Agora</button>

                                </div>

                            </div>
                        </li>

                    </ul>

                    <button class="btn btn-primary">Ver mais informações</button>

                </div>
            </section>

              <!-- 
            - #POPULAR
          -->

            <section class="popular" id="destination">
                <div class="container">

                    <p class="section-subtitle">Descobrir Livros</p>

                    <h2 class="h2 section-title">Mais Populares</h2>

                    <p class="section-text">
                        Descubra os livros mais amados na nossa comunidade! Mergulhe nas histórias que estão conquistando corações e mentes agora mesmo.
                    </p>
                        
                    <ul class="popular-list">

                        <li>
                            <div class="popular-card">

                                <figure class="card-img">
                                    <img src="{% static 'assets/imagens/galeria/guia dos mochileiros.png' %}" alt="Livro Social" loading="lazy">
                                </figure>

                                <div class="card-content">

                                    <div class="card-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                    </div>

                                    <p class="card-subtitle">
                                        <a href="livrosLidos.html">Ficção</a>
                                    </p>

                                    <h3 class="h3 card-title">
                                        <a href="#">O Guia dos Mochileiros</a>
                                    </h3>

                                    <p class="card-text">
                                        Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                                    </p>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="popular-card">

                                <figure class="card-img">
                                    <img src="{% static 'assets/imagens/galeria/guia dos mochileiros.png' %}" alt="Livro Social" loading="lazy">
                                </figure>

                                <div class="card-content">

                                    <div class="card-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                    </div>

                                    <p class="card-subtitle">
                                        <a href="#">Ficção</a>
                                    </p>

                                    <h3 class="h3 card-title">
                                        <a href="#">O Guia dos Mochileiros</a>
                                    </h3>

                                    <p class="card-text">
                                        Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                                    </p>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="popular-card">

                                <figure class="card-img">
                                    <img src="{% static 'assets/imagens/galeria/guia dos mochileiros.png' %}" alt="Livro Social" loading="lazy">
                                </figure>

                                <div class="card-content">

                                    <div class="card-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                    </div>

                                    <p class="card-subtitle">
                                        <a href="#">Ficção</a>
                                    </p>

                                    <h3 class="h3 card-title">
                                        <a href="#">O Guia dos Mochileiros</a>
                                    </h3>

                                    <p class="card-text">
                                        Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                                    </p>

                                </div>

                            </div>
                        </li>


                    </ul>

                    <button class="btn btn-primary">Mais Livros</button>

                </div>
            </section>



        </article>
    </main>

    <!-- 
        - #GO TO TOP
      -->

    <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up-outline"></ion-icon>
    </a>


    <script src="assets/js/script.js"></script>
    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}