{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <link rel="shortcut icon" href="assets/img/icone.png" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="{% static '/styles/header.css' %}">
        <link rel="stylesheet" href="{% static '/styles/package.css' %}">
        <link rel="stylesheet" href="{% static '/styles/popular.css' %}">
        <link rel="stylesheet" href="{% static '/styles/footer.css' %}">
        <link rel="stylesheet" href="{% static '/styles/querys.css' %}">
        <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>

<body id="top">

     <!-- #header -->
    <header class="header" data-header>

        <div class="overlay" data-overlay></div>

        <div class="header-top">
            <div class="container">

                <a href="#" class="helpline-box">

                    <div class="icon-box">
                        <ion-icon name="call-outline"></ion-icon>
                    </div>

                    <div class="wrapper">
                        <p class="helpline-title">Para mais informações :</p>

                        <p class="helpline-number">+55 (xx) xxxxx-xxxx</p>
                    </div>

                </a>

                <a href="#" class="logo">
                    <img src="{% static 'assets/logo/logo.png' %}" alt="livro social logo">
                </a>

                <div class="header-btn-group">

                    <button class="search-btn" aria-label="Search">
                        <ion-icon name="search"></ion-icon>
                    </button>

                    <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
                        <ion-icon name="menu-outline"></ion-icon>
                    </button>

                </div>

            </div>
        </div>

        <div class="header-bottom">
            <div class="container">

                <ul class="social-list">

                    <li>
                        <a href="https://www.instagram.com/roniwellington/" target="_blank" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/roniwellington" target="_blank" class="social-link">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/roniwellington/" target="_blank" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>

                </ul>

                <nav class="navbar" data-navbar>

                    <div class="navbar-top">

                        <a href="#" class="logo">
                            <img src="{% static 'assets/logo/logo-blue.png' %}" alt="livros social logo">
                        </a>

                        <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                    </div>

                    <ul class="navbar-list">

                        <li>
                            <a href="#home" class="navbar-link" data-nav-link>home</a>
                        </li>

                        <li>
                            <a href="#" class="navbar-link" data-nav-link>Sobre</a>
                        </li>

                        <li>
                            <a href="#destination" class="navbar-link" data-nav-link>Livros</a>
                        </li>

                        <li>
                            <a href="#package" class="navbar-link" data-nav-link>Preços</a>
                        </li>

                        <li>
                            <a href="#gallery" class="navbar-link" data-nav-link>Galeria</a>
                        </li>

                        <li>
                            <a href="#contact" class="navbar-link" data-nav-link>Contato</a>
                        </li>

                    </ul>

                </nav>

                <button class="btn btn-primary">Leia Agora</button>

            </div>
        </div>

    </header>


    <main>
        <article>

            <!-- 
            - #TOUR SEARCH  css na página popular
          -->

            <section class="tour-search tour-search-Top">
                <div class="container">

                    <form action="" class="tour-search-form">

                        <div class="input-wrapper">
                            <label for="destination" class="input-label">Pesquisar Destino</label>

                            <input type="text" name="destination" id="destination" required
                                placeholder="Enter Destination" class="input-field">
                        </div>

                        <div class="input-wrapper">
                            <label for="people" class="input-label">Número de Livros</label>

                            <input type="number" name="people" id="people" required placeholder="No.of People"
                                class="input-field">
                        </div>

                        <div class="input-wrapper">
                            <label for="checkin" class="input-label">Inicio da Leitura</label>

                            <input type="date" name="checkin" id="checkin" required class="input-field">
                        </div>

                        <div class="input-wrapper">
                            <label for="checkout" class="input-label">Termino da Leitura</label>

                            <input type="date" name="checkout" id="checkout" required class="input-field">
                        </div>

                        <button type="submit" class="btn btn-secondary">Perguntar agora</button>

                    </form>

                </div>
            </section>
            <!-- 
            - #PACKAGE
          -->

            <section class="package" id="package">
                <div class="container">
                                

                    <p class="section-subtitle">Minhas Leituras</p>

                    <ul class="package-list">

                        <li>
                            <div class="package-card">

                                <figure class="card-banner">
                                    <img src="{% static 'assets/imagens/galeria/guia dos mochileiros.png' %}" alt="Experience The Great Holiday On Beach"
                                        loading="lazy">
                                </figure>

                                <div class="card-content">

                                    <h3 class="h3 card-title">O Guia do Mochileiro das Galáxias</h3>

                                    <p class="card-text">
                                       O prefácio de "O Guia do Mochileiro das Galáxias" não é um prefácio tradicional, mas sim uma introdução humorística que estabelece o tom da obra. Ele começa com a destruição da Terra e a revelação de que Ford Prefect, amigo de Arthur Dent, é um alienígena. A partir daí, a história segue as desventuras de Arthur enquanto ele viaja pela galáxia, descobrindo a resposta para a "questão fundamental da vida, do universo e de tudo mais". 
                                    </p>

                                   
                                    

                                    <ul class="card-meta-list">

                                        <li class="card-meta-item">
                                            <div class="meta-box">
                                                <ion-icon name="time"></ion-icon>

                                                <p class="text">18:00</p>
                                            </div>
                                        </li>

                                        <li class="card-meta-item">
                                            <div class="meta-box">
                                                <ion-icon name="people"></ion-icon>

                                                <p class="text">Página: 10</p>
                                            </div>
                                        </li>

                                        <li class="card-meta-item">
                                            <div class="meta-box">
                                                <ion-icon name="location"></ion-icon>

                                                <p class="text">Brasil</p>
                                            </div>
                                        </li>

                                    </ul>

                                </div>

                                <div class="card-price">

                                    <div class="wrapper">

                                        <p class="reviews">(25 reviews)</p>

                                        <div class="card-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>

                                    </div>

                                    <p class="price">
                                        R$ 75,00
                                        <span>/ Site Amazon</span>
                                    </p>

                                    <button class="btn btn-secondary">Comprar Agora</button>

                                </div>

                            </div>
                        </li>

                    </ul>

                    <button class="btn btn-primary">Ver mais informações</button>

                </div>
            </section>

              <!-- 
            - #POPULAR
          -->

            <section class="popular" id="destination">
                <div class="container">

                    <p class="section-subtitle">Descobrir Livros</p>

                    <h2 class="h2 section-title">Mais Populares</h2>

                    <p class="section-text">
                        Descubra os livros mais amados na nossa comunidade! Mergulhe nas histórias que estão conquistando corações e mentes agora mesmo.
                    </p>
                        
                    <ul class="popular-list">

                        <li>
                            <div class="popular-card">

                                <figure class="card-img">
                                    <img src="{% static 'assets/imagens/galeria/guia dos mochileiros.png' %}" alt="Livro Social" loading="lazy">
                                </figure>

                                <div class="card-content">

                                    <div class="card-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                    </div>

                                    <p class="card-subtitle">
                                        <a href="livrosLidos.html">Ficção</a>
                                    </p>

                                    <h3 class="h3 card-title">
                                        <a href="#">O Guia dos Mochileiros</a>
                                    </h3>

                                    <p class="card-text">
                                        Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                                    </p>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="popular-card">

                                <figure class="card-img">
                                    <img src="{% static 'assets/imagens/galeria/guia dos mochileiros.png' %}" alt="Livro Social" loading="lazy">
                                </figure>

                                <div class="card-content">

                                    <div class="card-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                    </div>

                                    <p class="card-subtitle">
                                        <a href="#">Ficção</a>
                                    </p>

                                    <h3 class="h3 card-title">
                                        <a href="#">O Guia dos Mochileiros</a>
                                    </h3>

                                    <p class="card-text">
                                        Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                                    </p>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="popular-card">

                                <figure class="card-img">
                                    <img src="{% static 'assets/imagens/galeria/guia dos mochileiros.png' %}" alt="Livro Social" loading="lazy">
                                </figure>

                                <div class="card-content">

                                    <div class="card-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                    </div>

                                    <p class="card-subtitle">
                                        <a href="#">Ficção</a>
                                    </p>

                                    <h3 class="h3 card-title">
                                        <a href="#">O Guia dos Mochileiros</a>
                                    </h3>

                                    <p class="card-text">
                                        Fusce hic augue velit wisi ips quibusdam pariatur, iusto.
                                    </p>

                                </div>

                            </div>
                        </li>


                    </ul>

                    <button class="btn btn-primary">Mais Livros</button>

                </div>
            </section>



        </article>
    </main>


    <!-- 
        - #FOOTER
      -->

    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="#" class="logo">
                        <img src="{% static 'assets/logo/logo.png' %}" alt="Livro Social logo">
                    </a>

                    <p class="footer-text">
                        Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium
                        magna conubia
                        at
                        perferendis, pretium, aenean aut ultrices.
                    </p>

                </div>

                <div class="footer-contact">

                    <h4 class="contact-title">Contato</h4>

                    <p class="contact-text">
                        Sinta-se á vontade para entrar em contato!
                    </p>

                    <ul>

                        <li class="contact-item">
                            <ion-icon name="call-outline"></ion-icon>

                            <a href="#" class="contact-link">+55 (xx) xxxxx-xxxx</a>
                        </li>

                        <li class="contact-item">
                            <ion-icon name="mail-outline"></ion-icon>

                            <a href="#" class="contact-link">livro.livro.com</a>
                        </li>

                        <li class="contact-item">
                            <ion-icon name="location-outline"></ion-icon>

                            <address>3146 esquina, Eta Carinae</address>
                        </li>

                    </ul>

                </div>

                <div class="footer-form">

                    <p class="form-text">
                        Assine nossa newsletter para mais atualizações e notícias!!
                    </p>

                    <form action="" class="form-wrapper">
                        <input type="email" name="email" class="input-field" placeholder="Enter Your Email" required>

                        <button type="submit" class="btn btn-secondary">inscreva-se</button>
                    </form>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; 2025 <a href="">RoniWellington</a>. Todos os direitos reservados
                </p>

                <ul class="footer-bottom-list">

                    <li>
                        <a href="#" class="footer-bottom-link">política de Privacidade</a>
                    </li>

                    <li>
                        <a href="#" class="footer-bottom-link">Termos e Condições</a>
                    </li>

                    <li>
                        <a href="#" class="footer-bottom-link">Perguntas frequentes</a>
                    </li>

                </ul>

            </div>
        </div>

    </footer>

    <!-- 
        - #GO TO TOP
      -->

    <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up-outline"></ion-icon>
    </a>


    <script src="assets/js/script.js"></script>
    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>